<!-- Search/audio bar -->
<ng-include src="'./components/nav/nav.html'"></ng-include>
<!-- Current weather -->
<div class="current-weather-container clearfix" ng-show="showWeather">
    <div class="top-left">
        <i class="wi wi-wu-{{ currentWeather.data.icon }} current-weather-icon"></i><br />
    </div>
    <div class="top-right">
        <h1 class="city-name-heading">{{ location.name }}</h1>
        <h1>{{ currentWeather.data.temp_f }}&deg;</h1>
        <span class="unimportant-text">{{ currentWeather.data.weather }}<br /></span>
    </div>
</div>
<!-- 10 day forecast -->
<div class="ten-day-container">
    <div class="lol clearfix" ng-repeat="day in tenDay" ng-class-odd="'odd-forecast'">
        <div class="col-1-3">
            {{ day.date.weekday_short }}<br />
            <span class="unimportant-text">{{ day.date.day }} {{ day.date.monthname_short }}</span>
        </div>
        <div class="col-1-3 icon-column">
            <i class="wi wi-wu-{{ day.icon }} ten-day-icon"></i>
        </div>
        <div class="col-1-3">
            {{ day.high.fahrenheit }}&deg;<br />
            <span class="unimportant-text">{{ day.low.fahrenheit }}&deg;</span>
        </div>
    </div>
</div>
