<nav class="nav">
    <div class="nav-container">
        <ul class="nav-list">
            <div class="seventy">
                <li class="nav-item search-bar"><search-form submit="submit"></search-form></li>
            </div>
            <div class="thirty">
                <li class="nav-item nav-btn"><audio-control audio-file="audioFile"></audio-control></li>
                <li class="nav-item nav-btn"><i class="fa fa-list-ul nav-icon" aria-hidden="true"></i></li>
            </div>
        </ul>
    </div>
</nav>
