<!-- Navigation -->
<nav class="nav">
    <div class="nav-container">
        <ul class="nav-list">
            <!-- Search bar -->
            <div class="nav-search-container">
                <li class="nav-item search-bar"><search-form submit="submit"></search-form></li>
            </div>
            <!-- 'Saved cities' and audio toggle buttons -->
            <div class="nav-controls-container">
                <!-- Audio toggle -->
                <audio-control audio-file="audioFile"></audio-control>
                <a class="saved-cities-link" href="#/saved-cities"><li class="nav-item nav-btn"><i class="fa fa-list-ul nav-icon" aria-hidden="true"></i></li></a>
                <!-- Saved cities -->
                <span class="saved-cities-tooltip">Saved Cities</span>
            </div>
        </ul>
    </div>
</nav>
