@rain-blue: #A6D0DD;
@snow-white: #fff;
@snow-blue: #A6D0DD;
@sun-orange: #FFC94B;
@thunder-grey: #CFCFCF;
@nav-grey-light: @thunder-grey;
/* #BDBDBD */
@nav-grey-med: #484848;
@error-red: #E74343;

html {
    height: 100%;
}

body {
    background-color: @nav-grey-light;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0 auto;
    text-transform: uppercase;
}

/* CONTAINERS/STRUCTURE */

/* Wrapper for all content in body */
.main-container {
    // TODO: Vertically center
    margin: 3rem auto 0 auto;
    text-align: center;
    width: 100%;
}

/* Wrapper for centering and giving a max-width to navigation */
.nav-container {
    margin: 0 auto;
    max-width: 60rem;
}

/* For current weather and 10 day forecast */
.current-weather-container,
.ten-day-container {
    font-size: 1.25rem;
    margin-top: 3rem;
    text-align: center;
}

.saved-cities-container {
    font-size: 1.25rem;
    margin-top: 3rem;
    padding-top: 3rem;
    text-align: center;
}

/* 1/3 width column; used for layout of 10-day forecast */
.col-1-3 {
    float: left;
    padding: 0.85rem 0;
    text-align: center;
    width: 33%;
}

/* Clear floated columns (.col-1-3) */
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/* Vertically centers weather icons in 10 day forecast */
.icon-column {
    padding: 1rem 0;
}

/* SEARCH/AUDIO CONTROL BAR */

.nav {
    background-color: #333;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.nav-item {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
}

.nav-btn {
    float: right;
    width: 50%;
    -webkit-transition: 0.25s ease-in-out all;
    -moz-transition: 0.25s ease-in-out all;
    -o-transition: 0.25s ease-in-out all;
    transition: 0.25s ease-in-out all;
    &:hover {
        cursor: pointer;
        background-color: @nav-grey-med;
    }
}

.seventy,
.thirty {
    float: left;
}

.seventy {
    width: 70%;
}

.thirty {
    width: 30%;
}

.search-bar {
    width: 100%;
}

/* Search text input and search button */
.search-text-input {
    color: @nav-grey-light;
    background-color: @nav-grey-med;
    border: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.95rem 1rem 0.95rem 2.8rem;
    // text-transform: uppercase;
    width: 100%;
    &:focus {
        outline: 1px solid @snow-white;
        // outline-offset: -1px;
    }
}

.saved-cities-form {
    position: relative;
}

.saved-cities-input {
    color: @nav-grey-light;
    background-color: @nav-grey-med;
    border: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.95rem 1rem 0.95rem 2.8rem;
    &:focus {
        outline: 1px solid @snow-white;
    }
}

/* Search button */
.search-btn {
    background-color: #333;
    border: 0;
    color: #fff;
    float: left;
    padding: 0.71rem;
    width: 13%;
    &:focus {
        outline: 1px solid #fff;
        outline-offset: -1px;
    }
}

.nav-icon {
    color: @nav-grey-light;
    padding: 1rem;
}

.search-container {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

/* Icons in main search bar and saved cities search bar */
.search-icon {
    color: #BDBDBD;
    font-size: 1rem;
    position: absolute;
    margin-left: 1rem;
    top: 34%;
}

/* Magnifying glass and plus icons in search bars */
.magnifying-icon,
.plus-icon {
    top: 34%;
}

/* All error messages */
.error-txt {
    color: @error-red;
}

/* Error message styles for main search bar */
.nav-search-error {
    position: absolute;
    top: 120%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/* Error message for search bar in saved cities view */
.saved-cities-error {
    font-size: 1rem;
    left: 0;
    margin: 1rem 0;
    position: absolute;
    right: 0;
}

/* Overrides .ng-hide class in order to preserve spacing when hidden */
.saved-cities-error.ng-hide {
    display: block !important;
}

/* Saved city list links */
.saved-city-link {
    margin: 0 1rem;
    &:hover {
        cursor: pointer;
    }
}

.city-list {
    margin: 3rem auto;
}

.spinner-container {
    bottom: 0;
    color: @nav-grey-med;
    font-size: 1.25rem;
    height: 4rem;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}

/* Slide-up animation; I would like these styles to be more DRY, but for some reason combining them causes the animation to not work, so unfortunately I have to repeat myself */
.animate-slide.ng-enter {
    -webkit-transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
    -o-transition: 0.25s ease all;
    transition: 0.25s ease all;
    position: relative;
    display: block;
    opacity: 0;
    bottom: -50px;
    height: 0px;
}

.animate-slide.ng-enter-active {
    opacity: 1;
    bottom: 0;
    height: 30px;
}

.animate-slide.ng-leave {
    -webkit-transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
    -o-transition: 0.25s ease all;
    transition: 0.25s ease all;
    position: relative;
    display: block;
    opacity: 1;
    bottom: 0;
    height: 30px;
}

.animate-slide.ng-leave-active {
    margin-top: 50px;
    opacity: 0;
    opacity: 0;
    bottom: -50px;
    height: 0px;
}

/* Fade in/out animation */
.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove {
    -webkit-transition: 0.25s ease-in-out all;
    -moz-transition: 0.25s ease-in-out all;
    -o-transition: 0.25s ease-in-out all;
    transition: 0.25s ease-in-out all;
    opacity: 1;
}

.animate-fade.ng-hide {
    opacity: 0;
}

/* TYPOGRAPHY */

/* Big weather icon for current weather */
.current-weather-icon {
    font-size: 8rem;
    padding-top: 4rem;
    height: 9.5rem;
}

/* Smaller weather icons for 10 day forecast */
.ten-day-icon {
    font-size: 2em;
}

/* Weather conditions, dates, and daily low temperature text */
.unimportant-text {
    color: #fff;
}

/* Fade in/out animation between view changes */
.animate-view.ng-enter,
.animate-view.ng-leave {
    -webkit-transition: 0.25s ease all;
    -moz-transition: 0.25s ease all;
    -o-transition: 0.25s ease all;
    transition: 0.25s ease all;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.animate-view.ng-enter {
    opacity: 0;
}

.animate-view.ng-enter.ng-enter-active {
    opacity: 1;
}

.animate-view.ng-leave {
    opacity: 1;
}

.animate-view.ng-leave.ng-leave-active {
    opacity: 0;
}

/* WEATHER CONDITIONS */
/* These change the color scheme depending on the weather */

/* For rainy weather */
.rain {
    body {
        background-color: @rain-blue;
    }
    .main-container {
        background-color: @rain-blue;
    }
    .odd-forecast {
        background-color: darken(@rain-blue, 5%);
    }
}

/* For snowy weather */
.snow {
    body {
        background-color: @snow-white;
    }
    .main-container {
        background-color: @snow-white;
    }
    .odd-forecast {
        background-color: #F5F5F5;
    }
    .unimportant-text {
        color: @snow-blue;
    }
}

/* For sunny weather */
.sun {
    body {
        background-color: @sun-orange;
    }
    .main-container {
        background-color: @sun-orange;
    }
    .odd-forecast {
        background-color: darken(@sun-orange, 5%);
    }
}

/* For stormy weather */
.thunder {
    body {
        background-color: @thunder-grey;
    }
    .main-container {
        background-color: @thunder-grey;
    }
    .odd-forecast {
        background-color: darken(@thunder-grey, 5%);
    }
}

/* RESPONSIVENESS */

@media only screen and (min-width: 769px) {
    .current-weather-container {
        height: 33.1rem;
        width: 51rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .ten-day-container {
        bottom: 0;
        position: absolute;
        width: 100%;
    }

    .saved-cities-container {
        font-size: 2rem;
    }

    .spinner-container {
        font-size: 2rem;
        height: 6rem;
    }

    .top-left {
        float: left;
        width: 50%;
    }

    .top-right {
        float: right;
        font-size: 2rem;
        width: 50%;
    }

    .current-weather-icon {
        font-size: 14rem;
        padding-top: 4.3rem;
    }

    .lol {
        float: left;
        width: 10%;
    }

    .col-1-3 {
        float: none;
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .current-weather-container {
        height: 44.4rem;
        width: 77rem;
    }

    .saved-cities-container {
        font-size: 3rem;
    }

    .spinner-container {
        font-size: 3rem;
        height: 9rem;
    }

    .top-right {
        font-size: 3rem;
    }

    .current-weather-icon {
        font-size: 21.3rem;
        padding-top: 6.3rem;
    }

    .plus-icon {
        top: 50%;
    }
}
